<ion-list color="dark">
  <ion-item-sliding *ngFor="let list of wishesService.lists" class="animated fadeInDown">
    <ion-item detail color="dark" (click)="selectList(list)">
      <ion-label>
        {{list.title}}
      </ion-label>
      <ion-note color="tertiary" style="padding-right: 12px;" slot="end">{{list.items.length}} items</ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteList(list)">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>