<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Pending
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pendings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list color="dark">
    <ion-item *ngFor="let list of lists" detail color="dark">
      <ion-label>
        {{list.title}}
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
